{{- define "main" }}

<article class="post-single">
  <header class="hero">
    <h1 class="hero-title">{{ .Title }}</h1>
    {{- if .Description }}
    <p class="hero-tagline">{{ .Description }}</p>
    {{- end }}
  </header>

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}
</article>

{{- $posts := where site.RegularPages "Section" "posts" }}
{{- if $posts }}
<section class="post-single">
  <header class="post-header">
    <h2 class="post-title">Posts</h2>
  </header>
  <ul class="post-content">
    {{- range $posts }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{- range .Params.tags }}
      <code>{{ . }}</code>
      {{- end }}
    </li>
    {{- end }}
  </ul>
</section>
{{- end }}

{{- end }}
